/*************************************************
	Created by: Anh Pham;
	Date: 23/02/2017;
	Style CSS for web - client
	Version: 01;
 *************************************************/
html {
	height: 100%;
}
body {
	min-height: 100%;
}

.img-banner-home-custom.parallax {
	/* The image used */
	background-image: url("/public/img/banner-home.png");

	/* Full height */
	height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.img-banner-home-custom.parallax:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.welcome-web-custom {
	height: 40%;
	margin: 0 auto;
	/* text-align: center; */
	display: inline-block;
	vertical-align: middle;
	background: rgba(41, 43, 44, 0.65);
	padding: 20px;
}

.title-welcome {
	color: white;
	font-size: 20px;
}

.name-website-welcome {
	color: #00d8b3;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 2px;
}

.content-welcome {
	color: white;
	font-size: 18px;
}

.navbar {
  border-radius: 0;
  background-color: #007b4f;
  margin-bottom: 0;
}

a {
	color: inherit;
}
/*body {*/
  /*background-color: #E4F1FE;*/
/*}*/

nav a{
  color: white;
}

a.navbar-brand {
	padding-left: 10px;
	padding-right: 10px;
}

a.navbar-brand:active, a.navbar-brand:hover{
  background-color: white;
  color: dark blue;
}

ul.navbar-nav li.nav-item a:hover {
	background-color: white;
}

.row.align-items-center {
	margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Footer*/
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #007b4f;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: white;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: white;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.btn-send-mail {
	margin-top: 10px;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 15px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #025f3e;
    color: white;
    width: 100%;
    float: left;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/*Nav Profile Dropdown*/
.profile-dropdown {
	min-width: 9rem;
}

label.error {
	color: red;
}

form#form-login {
	margin-bottom: 10px;
}

img.img-ava-header {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	padding: 1px;
	border: 3px solid #00d8b3;
}

.navbar.navbar-custom {
	width: 100%;
}

.profile-dropdown-custom {
	min-width: 5rem;
}

header#header {
	background: #007b4f;
}

li.img-avatar-header {
	margin: 0 5px;
}

li.dropdown.open {
	line-height: 3.8;
}

li.dropdown-custom {
	line-height: 3.8;
}

li.dropdown-custom .dropdown-menu.profile-dropdown-custom {
	top: 85%;
}

li.dropdown-custom .dropdown-menu.profile-dropdown-custom a.dropdown-item {
	line-height: 1.5;
	padding: 5px 17px;
}

.img-status-header {
	margin: 0 5px;
}
.img-status-header:before {    /* create a full-height inline block pseudo=element */
	content: ' ';
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
}

img.img-status-custom {
	width: 30px;
	height: 30px;
	/* line-height: 2.8; */
	display: inline;
	vertical-align: middle;
}

ul.primary-header-custom li.nav-item:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
}

a.nav-link {
	vertical-align: middle;
	display: inline-block;
}

.carousel {
	position: relative;
	width: 100%;
	height: auto;
}

.carousel .img-fluid {
	width: 100%;
	height: auto;
}

.search-custom {
	position: relative;
	bottom: 50px;
}

.search-bar-home {
	padding: 30px 20px;
	background: rgba(0, 82, 34, 0.88);
	border-radius: 5px;
}

.search-bar-home form.form-search-custom {
	width: 100%;
}

.search-bar-home form.form-search-custom .form-group {
	margin: 0 10px;
}

.homepage-custom {
	top: 0;
}

.btn-show-more-custom a:hover {
	 color: white;
	 text-decoration: none;
}

.img-banner-store-custom.parallax {
	/* The image used */
	background-image: url("/public/img/banner-warehouse.jpg");

	/* Full height */
	height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.img-banner-store-custom.parallax:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.welcome-store-custom {
	height: 40%;
	margin: 0 auto;
	/* text-align: center; */
	display: inline-block;
	vertical-align: middle;
	background: rgba(41, 43, 44, 0.65);
	padding: 20px;
}

.name-store-welcome {
	color: #00d8b3;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 2px;
}

.content-store {
	color: white;
	font-size: 18px;
}

.nav-pills .nav-custom.nav-item.show .nav-link, .nav-pills .nav-custom .nav-link.active {
	background-color: #5cb85c;
}

.nav-custom a.nav-link{
	background: #ccc;
}

.my-store-custom {
	margin-top: 30px;
}

ul#store-tabs li.nav-item.nav-custom {
	margin-right: 5px;
}

.img-banner.parallax {
	height: 500px;
	/* Create the parallax scrolling effect */
	text-align: center;
}

.img-banner.parallax:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.img-banner-wish-custom {
	/*height: 200px !important;*/
	background-image: url("/public/img/19.jpg");
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-custom {
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	background: rgba(41, 43, 44, 0.65);
	padding: 10px 20px;
	border-radius: 10px
}

.welcome-custom .title-page-custom {
	color: #f0ad4e;
	font-size: 30px;
	font-weight: 600;
}

.my-wish-page {
	margin-top: 30px;
	margin-bottom: 30px;
}

.tab-content-custom {
	/*background: white;*/
	/*padding: 10px;*/
	font-size: 18px;
	margin: 10px 0 !important;
	color: #000000;
}

ul.list-tab-custom li.nav-item.nav-custom {
	margin-right: 5px;
}

.link-home-custom {
	color: #5cb85c;
	font-weight: 500;
}

.title-result-matching {
	border-left: 5px solid #ec971f !important;
}

.show-result-matching {
	margin-top: 30px;
}

.show-result-matching .msg-custom {
	margin-top: 10px;
	width: 100%;
}

.welcome-list-cate-page-custom {
	background: rgba(41, 43, 44, 0.78) !important;
	padding: 20px 30px !important;
}

.name-list-cate-page-welcome {
	font-size: 40px !important;
}